.comment {
  display: grid;
  grid-template-columns: 10% 90%;
  margin-bottom: 20px;
  border: 1px solid white;
}

.comment:hover .comment-body-delete {
  visibility: visible;
}

.comment-vote-up:hover {
  color: green;
  cursor: pointer;
}

.comment-vote-down:hover {
  color: red;
  cursor: pointer;
}

.comment-body-delete {
  text-align: right;
  margin-bottom: 10px;
  cursor: pointer;
  visibility: hidden;
}

.comment-body-delete:hover {
  color: red;
}